
{% extends "header.html" %}<!-- .navbar -->
{% block index %}
<style>
  .myh3{
    color:white !important;
    background-color: #994141 !important;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 16px !important;
    font-family: "Nunito", sans-serif !important;
  }
    li{
    font-size: 18px !important;
  }
  .first{
      color: #201E43 !important;
  }
  .second{
      color: #508C9B !important;
  }
</style>
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up"><span class="first">Mind</span><span class="second">Mate</span></h1>
          <h2  data-aos="fade-up" data-aos-delay="400">Empowering students through AI technology to address their concerns and foster success.</h2>
         <ul  class="mt-md-3" data-aos="fade-up" data-aos-delay="600">
           <li>Looking for <strong>an advice on worries</strong>  that are tough to talk about with other people?</li>
           <li>Willing to find support to ease your mind through our <strong>AI Chatbot?</strong></li>
         </ul>
          <div data-aos="fade-up" data-aos-delay="800">
            <div class="text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img mx-auto" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/img/bg.jpg" class="img-fluid hero-img mx-auto" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="about" class="about">
<!--        <header class="section-header">-->
<!--          <p>About</p>-->
<!--        </header>-->
      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h2>AI Consultant ServiceExperience mental health assessments with our AI Chatbot.</h2>
              <p>
                Share your concerns with our professional AI, and receive tailored recommendations for support.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../static/img/about.png" class="img-fluid about-img" alt="">
          </div>

        </div>
      </div>

      <div class="container mt-4" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-3">
              <div class="about-box">
                <img class="img-fluid" src="../static/img/personal.jpeg">
                <h3 class="about-title">Personal</h3>
                <p>Do you have any personal concerns you're finding difficult to discuss?</p>
              </div>
            </div>

            <div class="col-lg-3">
                <div class="about-box">
                    <img class="img-fluid" src="../static/img/academic.png">
                    <h3 class="about-title">Academic</h3>
                    <p>Do you have any personal concerns you're finding difficult to discuss?</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="about-box">
                    <img class="img-fluid" src="../static/img/apperance.jpeg">
                    <h3 class="about-title">Appearance</h3>
                    <p>Do you have any personal concerns you're finding difficult to discuss?</p>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="about-box">
                    <img class="img-fluid" src="../static/img/relationship.jpeg">
                    <h3 class="about-title">Relationship</h3>
                    <p>Do you have any personal concerns you're finding difficult to discuss?</p>
                </div>
            </div>
        </div>

      </div>

    </section>

    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Services</h2>
          <p>App Functions and Features</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="../static/img/values-1.webp" class="img-fluid" alt="">
              <h3>Personalized Wellbeing Assessment</h3>
              <p>Utilize AI chatbots to conduct personalized assessments of students' mental health and wellbeing, providing tailored recommendations for support via web interface.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="../static/img/values-2.webp" class="img-fluid" alt="">
              <h3>Topics optimized for students' daily lives</h3>
              <p>Analyze student-friendly concerns such as academic performance, appearance, personal issues, relationships with others, and provide appropriate responses.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="../static/img/values-3.png" class="img-fluid" alt="">
              <h3>Secure and Confidential Platform</h3>
              <p>Implement robust security measures to ensure the confidentiality and privacy of student data, fostering trust and confidence among users accessing the app via web devices.</p>
            </div>
          </div>

        </div>

      </div>

    </section>

      <section id="contact">
                  <div class="container" data-aos="fade-up">
                        <header class="section-header">
                          <h2>Email Us</h2>
                          <p>Contact</p>
                        </header>
                      <h4 class="text-center myemail">example@example.com</h4>
                  </div>

      </section>





  </main>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>WCP</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

   {% endblock %}