{% extends "header.html" %}<!-- .navbar -->
{% block data %}

    <body>
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-6">
                    <div class="card chart-card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Graph</h2>
                            <p>Chart description</p>
                            <canvas id="barchart1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card chart-card">
                        <div class="card-body">
                            <h2 class="card-title text-center">Graph</h2>
                            <p>Chart description</p>
                            <canvas id="barchart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            const ctx = document.getElementById('barchart1');
            var genderDistribution = {{ gender_distribution | tojson }};
            var labels = Object.keys(genderDistribution);
            var data = Object.values(genderDistribution);
            new Chart(ctx, {
                type:'bar',
                data:{
                    labels: labels,
                    datasets: [{
                        label: "Sample Data",
                        data : data
                    }]
                }

            });

            var contentDistribution = {{ content_distribution | tojson }};
            var labels = Object.keys(contentDistribution);
            var data = Object.values(contentDistribution);

            const ctx2 = document.getElementById('barchart2');
            new Chart(ctx2, {
                type:'bar',
                data:{
                    labels:labels,
                    datasets: [{
                        label: "Sample Data",
                        data : data
                    }]
                }

            });
        </script>
    </body>

{% endblock %}
