
{% extends "header.html" %}<!-- .navbar -->
{% block index %}
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Environment for mental health and wellbeing</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Advanced database queries and AI technology, for personalized care and support systems.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="../static/img/hero.png" class="img-fluid hero-img" alt="">
        </div>
      </div>
    </div>

  </section>

  <main id="main">
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>About</h3>
              <h2>Fostering a supportive environment for mental health and wellbeing.</h2>
              <p>
                The Wellbeing Consultation Platform (WCP) is an innovative web application that prioritizes connecting people within high school communities, fostering a supportive environment for mental health and wellbeing. Utilizing advanced database queries and AI technology, WCP facilitates the formation of communities by strategically matching individuals with similar issues and concerns.
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Get Started</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="../static/img/about.jpg" class="img-fluid about-img" alt="">
          </div>

        </div>
      </div>

    </section>

    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Services</h2>
          <p>App Functions and Features</p>
        </header>

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="../static/img/values-1.webp" class="img-fluid" alt="">
              <h3>Personalized Wellbeing Assessment</h3>
              <p>Utilize AI chatbots to conduct personalized assessments of students' mental health and wellbeing, providing tailored recommendations for support via web interface.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="../static/img/values-2.webp" class="img-fluid" alt="">
              <h3>Data Analytics Dashboard</h3>
              <p>Provide educators and administrators with a web-friendly data analytics dashboard to track key metrics related to student wellbeing, including usage patterns, common issues, and intervention effectiveness.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="../static/img/values-3.png" class="img-fluid" alt="">
              <h3>Secure and Confidential Platform</h3>
              <p>Implement robust security measures to ensure the confidentiality and privacy of student data, fostering trust and confidence among users accessing the app via web devices.</p>
            </div>
          </div>

        </div>

      </div>

    </section>





  </main>

  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>HoneyBadger</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

   {% endblock %}